<%= form_for(@speaker) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :name, 		placeholder: "Mrs. Speaker Name X" %>
		<%= f.text_area  :bio, 			placeholder: "Speaker bio" %>
		<%= f.label :moderator, "Moderator?" %>
		<%= f.check_box  :moderator,	placeholder: "Moderator?" %>
		<%= f.hidden_field :meeting_id %>
	</div>
	<%= f.submit "Save Speaker", class: "btn btn-large btn-primary" %>
<% end %>