<% provide(:title, full_name(@user)) %>

<div class="row">
	<div class="span4">
		<section>
			<h1><%= full_name(@user) %></h1>
		</section>
		<p>Email: <%= @user.email %></p>
		<p>Job title: <%= @user.job_title %></p>
		<p>Company/Employer: <%= @user.employer %></p>
		<p>Bio: <%= @user.bio %></p>
		<p>Current project: <%= @user.current_project %></p>
		
		<% if @user.privacy == true %>
			<p>Your email is currently <strong>private</strong>.</p>
		<% end %>
		
		<p><%= link_to "Edit your info", edit_user_path(@user) %></p>
	</div>
</div>